* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: #c2c8e4a1;
    -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}