main {
     flex: 1;
     margin-left: 4rem;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.1rem;
    list-style: none;
    width: 45rem;
}

@media (max-width: 600px) {
    main ul {
        grid-template-columns: 1fr;
    }
}

main ul li {
    width: 28rem;
    height: 18rem;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
}
